@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {

  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;

}

body {

  background-color: rgb(230, 230, 230);
  min-height: 100vh;

}

/*-----Menu contextuel----*/

.custom-menu {

  display: none;
  width: 283px;
  position: fixed;
  transition: 0.5s;
  z-index: 100;
  
}

.custom-menu .btnTest {

  width: 100%;
  background-color: #111;
  color: #e7e7e7;
  font-size: 0.9em;
  padding: 8px 12px;
  cursor: pointer;
  z-index: 1000;
  border-bottom: 1px solid rgb(78, 78, 78);
  box-shadow: 0 20px 30px #1111118c;

}

.custom-menu .btnTest:nth-child(1) {

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 10px 12px 8px 12px;
}

.custom-menu .btnTest:last-child {

  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 8px 12px 10px 12px;
  border-bottom: 0px;
}

.custom-menu .btnTest:hover {

  background-color: #6d47ff;
}

.lienMenu{

  color: white;
  text-decoration: none;

}

/*-----Style de la selection----*/

p::selection , img::selection, a::selection, div::selection {

  background-color: #6f4bff;
  color: white;

}

/*-----Marges des pages----*/

.section1, .section2, .section3 {

  margin: 0px 10px 15px 75px;
  
}

/*-----Titres tests-----*/

.titre {

  position: relative;
  top: 5px;
  font-size: 2em;
  color: #6d47ff;
  margin-bottom: 10.5px;
  width: max-content;

}

/*-----Barre de navigation-----*/

.nav {

  top: 0;
  position: fixed;
  height: 100vh;
  width: 65px;
  background-color: white;
  transition: background-color 0s;
  transition: width 1.3s;
  overflow-x: hidden;

}

.nav.active {

  width: 240px;

}

/*-----Ligne-----*/

.ligne {

  width: 100%;
  background-color: black;
  position: absolute;
  left: 50%;
  top: 60px;
  transform: translate(-50%, -50%);
  height: 1px;

}

/*-----Menu burger-----*/

.btn {

  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  cursor: pointer;

}

.btn::before {

  content: "";
  position: absolute;
  left: 32.5px;
  top: 35%;
  transform: translate(-50%, -50%);
  width: 35px;
  height: 2px;
  background-color: black;
  transition: 0.7s;

}

.btn::after {

  content: "";
  position: absolute;
  left: 32.5px;
  top: 65%;
  transform: translate(-50%, -50%);
  width: 35px;
  height: 2px;
  background-color: black;
  box-shadow: 0 -9px 0 black;
  transition: 0.7s;

}

.nav.active .btn::before {

  transform:  rotate(45deg);
  left: 10.5px;
  top: 50%;

}

.nav.active .btn::after {

  transform:  rotate(-45deg);
  box-shadow: none;
  left: 10.5px;
  top: 50%;

}

/*-----Contenaires des boutons-----*/

.list {

  display: flex;
  gap: 30px;
  position: relative;
  top: 131px;
  margin-bottom: 36px;
  left: 9px;
  list-style: none;
  width: 47px;
  padding: 7px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.5s;

}

.nav.active .list {

  width: 220px;

}

.list:hover {

  background-color: #6d47ff;

}

.list.active {

  background-color: #6d47ff;

}

/*-----Images-----*/

.img {

  width: 33px;
  height: 33px;

}

/*-----Textes-----*/

.txt {

  position: relative;
  top: 7px;
  font-size: 1.1em;

}

/*---------------------------
-------Page recherche--------
---------------------------*/

/*-----Input-----*/

.containerRecherche {

  display: flex;
  flex-direction: column;
  align-items: center;

}

.recherche {

  width: 500px;
  height: 35px;
  outline: none;
  border-radius: 7px;
  font-size: 1.1em;
  padding: 15px;
  border: 1px #6d47ff solid;

}

/*-----Bloc des reponses-----*/

.category {

  background-color: white;
  padding: 15px 15px 15px 22.5px;
  width: 750px;
  margin-top: 18px;
  border-radius: 13px;
  border: 1px #6d47ff solid;

}

/*-----Titres des blocs des reponses-----*/

.titreRecherche {

  font-size: 1.5em;
  font-weight: 300;
  background-color: #6d47ff;
  padding: 5px 10px 5px 10px;
  width: max-content;
  border-radius: 7px;
  color: white;

}

/*-----Liens des blocs des reponses-----*/

.lienRecherche {

  font-size: 1.1em;
  color: black;
  width: max-content;
  padding: 5px 5px 5px 4px;
  text-decoration: none;
  position: relative;
  left: 497px;
  bottom: 10px;
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;

}

.lienRecherche::before, .lienRecherche::after {
  
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #6d47ff;
  transition: width 0.7s ease-in-out;

}

.lienRecherche::after {

  left: 3px;

}

.lienRecherche::before {

  right: 3px;

}

.lienRecherche:hover::before, .lienRecherche:hover::after {

  width: 60%;

}

/*-----Pas de resultat-----*/

.no-results {

  font-size: 1.2em;
  color: red;
  margin-top: 15px;

}

/*-----Avant de chercher-----*/

.txtRecherche {

  position: relative;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

}

.imgRecherche {

  background-image: url(recherche.png);
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: cover;
  
} 

/*---------------------------
--------Page accueil---------
---------------------------*/



/*---------------------------
-------Page parametres-------
---------------------------*/

/*-----Dark mode-----*/

body.active {

  background-color: #242231;
  color: white;

}

body.active .nav, body.active .ligne, body.active .btn::before, body.active .recherche, body.active .category, body.active .lienRecherche, body.active .btnParametres, body.active .shortcut {

  background-color: #292837;
  color: white;

}

body.active .btn::before, body.active .btn::after, body.active .ligne {

  background-color: white;

}

body.active .btn::after {

  box-shadow: 0 -9px 0 white;

}

body.active ::placeholder, body.active ::-moz-placeholder {

  color: rgb(185, 185, 185);

}

/*-----Bouton Ecran et Dark mode-----*/

.btnParametres {

  width: max-content;
  padding: 4px;
  position: relative;
  top: 10px;
  margin-bottom: 25px;
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
  border: 1px #6d47ff solid;

}

/*-----Raccourcis----*/

.imgShortcut {

  width: 67px;
  height: 67px;
  display: block; 
  margin: 0 auto;

}

.boxShortcut {

  display: flex;
  justify-content: center;
  text-align: center;
  gap: 100px;
  position: relative;
  margin-top: 25px;

}

.shortcut {

  background-color: white;
  padding: 40px 20px 40px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  border-radius: 15px;
  border: 1px #6d47ff solid;
  width: 380px;
  
}

.lienShortcut:hover {

  color: red;

}

.lienShortcut {

  color: #6d47ff;
  font-size: 1em;
  letter-spacing: 0.5px;
  width: max-content;
  display: block; 
  margin: 0 auto;
  transition: 2s;

}

.titreShortcut {

  font-size: 1.8em;
  font-weight: 600;

}

.shortcutTitre {

  text-align: center;

}

/*-----Scroll bar pour webkit-----*/

::-webkit-scrollbar {

  width: 0.5vw;

}

::-webkit-scrollbar-thumb {

  background-color: #6d47ff;
  border-radius: 6vh;
  height: 16.5vh; 

}

::-webkit-scrollbar-thumb:hover {

  background-color: #555;

}

/*-----Vu pour petit ecran-----*/

@media screen and (max-width: 1080px) {

  .shortcut {

    width: 330px;
    
  }
  
}

/*-----Vu pour tablette-----*/

@media screen and (max-width: 900px) {
  
  .ecran {

    display: none;

  }

  .MenuCustom {

    display: none;
  
  }

  .shortcutTitre {

    display: none;

  }

  .boxShortcut {

    display: none;
  
  }

  .recherche {
  
    width: 300px;
  
  }
  
  .category {
  
    width: 450px;
    padding: 10px 10px 10px 10px;
    border-radius: 9px;
  
  }
  
  .titreRecherche {
  
    font-size: 1.2em;
    padding: 3px 8px 3px 8px;
  
  }
  
  .lienRecherche {
  
    font-size: 1em;
    left: 250px;
    margin-bottom: 10px;
  
  }

  .lienRecherche::after, .lienRecherche::before {

    display: none;

  }
  
  .lienRecherche:hover::after, .lienRecherche:hover::before {

    width: 0%;

  }  
}

@media screen and (max-width: 600px) {
  
  .recherche {
  
    width: 330px;
  
  }
  
  .category {
  
    width: 330px;
    padding: 10px 10px 0px 10px;
  
  }
  
  .titreRecherche {
  
    font-size: 1.1em;
    padding: 3px 8px 3px 8px;
  
  }
  
  .lienRecherche {
  
    font-size: 0.9em;
    left: 148px;
    margin-bottom: 10px;
    bottom: 12.5px;
  
  }
}

/*-----Vu pour mobile-----*/

@media screen and (max-width: 425px) {

  body {

    background-color: white;

  }

  .section1, .section2, .section3 {

    margin: 0px 15px 62.5px 15px;
    
  }

  .nav {

    top: unset;
    bottom: 0;
    height: 65px;
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 20%;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255, 0, 0, 0) 100%);

  }

  .nav.input {

    display: none;

  }

  .ligne {

    display: none
  
  }

  .btn {

    display: none;
  
  }

  .list {

    gap: 0px;
    top: 9px;
    margin-bottom: 0px;
    left: 0px;
    width: 47px;
    height: 47px;
    padding: 7px 7px 7px 7px;
    border-radius: 0px;
    background-color: transparent;

  }

  .list:hover {

    background-color: transparent;
  
  }
  
  .list.active {
  
    background-color: transparent;
  
  }

  .txt {

    display: none;

  }

  .containerRecherche {

    display: block;
  
  }

  .recherche {
  
    width: 100%;
    transition: 0.9s;
    background-color: rgb(230, 230, 230);
    
  }

  .category {
  
    width: 100%;
    background-color: rgb(230, 230, 230);
  
  }

  .titreRecherche {
  
    font-size: 1.2em;
  
  }
  
  .lienRecherche {
  
    font-size: 0.95em;
    left: 47.7%;
    bottom: 13px;
    margin-bottom: 10px;
  
  }

  .no-results {

    font-size: 1.1em
  
  }

  body.active .lienRecherche {
  
    background-color: unset;
  
  }

  body.active .nav {

    background: linear-gradient(0deg, rgba(36,34,49,1) 0%, rgba(36,34,49,0.1) 100%);
  
  }
}

@media screen and (max-width: 350px) {

  .titreRecherche {
  
    font-size: 5.2vw;
  
  }

  .lienRecherche {
  
    font-size: 4.2vw;
    left: 46%;

  }

  .no-results {

    font-size: 4.3vw;
  
  }
}