@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {

  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;

}

body {

  background-color: #262626;
  min-height: 100vh;

}

.nav {

  top: 0;
  position: fixed;
  height: 100vh;
  width: 65px;
  background-color: white;
  transition: 1.5s;
  overflow: hidden;

}

.nav.active {

  width: 240px;

}

.ligne {

  width: 100%;
  background-color: black;
  position: absolute;
  left: 50%;
  top: 60px;
  transform: translate(-50%, -50%);
  height: 1px;

}

.btn {

  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  cursor: pointer;

}

.btn::before {

  content: "";
  position: absolute;
  left: 32.5px;
  top: 35%;
  transform: translate(-50%, -50%);
  width: 35px;
  height: 2px;
  background-color: black;
  transition: 0.7s;

}

.btn::after {

  content: "";
  position: absolute;
  left: 32.5px;
  top: 65%;
  transform: translate(-50%, -50%);
  width: 35px;
  height: 2px;
  background-color: black;
  box-shadow: 0 -9px 0 black;
  transition: 0.7s;

}

.nav.active .btn::before {

  transform:  rotate(45deg);
  left: 10.5px;
  top: 50%;

}

.nav.active .btn::after {

  transform:  rotate(-45deg);
  box-shadow: none;
  left: 10.5px;
  top: 50%;

}

.list {

  display: flex;
  gap: 30px;
  position: relative;
  top: 131px;
  margin-bottom: 36px;
  left: 9px;
  list-style: none;
  width: 47px;
  padding: 7px 7px 7px 7px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.5s;

}

.list:hover {

  background-color: rgb(96, 96, 216);

}

.nav.active .list {

  width: 220px;

}

.img {

  width: 33px;
  height: 33px;

}

.txt {

  position: relative;
  top: 9px;
  font-size: 1.1em;

}

.titre {

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

.section1,
.section2,
.section3 {
  margin-left: 70px;
}
