@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {

  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;

}

:root {

  --couleur: #6d47ff;
  --bg: rgb(230, 230, 230);
  --default: rgba(189, 189, 189, 0.217);
  --default2: black;

}

body {

  background-color: var(--bg);
  min-height: 100vh;
  color: var(--default2);

}

/*-----Menu contextuel----*/

.custom-menu {

  display: none;
  width: 283px;
  position: fixed;
  transition: 0.5s;
  z-index: 10000;
  
}

.custom-menu .btnMenu {

  width: 100%;
  background-color: #111;
  color: #e7e7e7;
  font-size: 0.9em;
  padding: 8px 12px;
  cursor: pointer;
  border-bottom: 1px solid rgb(78, 78, 78);
  box-shadow: 0 20px 30px #1111118c;
  transition: 0.15s;

}

.custom-menu .premier {

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 10px 12px 8px 12px;

}

.custom-menu .dernier {

  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 8px 12px 10px 12px;
  border-bottom: 0px;

}

.custom-menu .btnMenu:hover {

  background-color: var(--couleur);
}

.lienMenu {

  color: white;
  text-decoration: none;
  border-radius: 0px;

}

/*-----Style de la selection----*/

p::selection, a::selection, div::selection, input::selection {

  background-color: var(--couleur);
  color: white;

}

/*-----Pas selectione----*/

img, .custom-menu {

  user-select: none;

}

/*-----Marges des pages----*/

.section1, .section2, .section3 {

  margin: 0px 10px 30px 90px;
  position: relative;
  top: 15px;
  
}

/*-----Titres tests-----*/

.titre {

  position: relative;
  top: 5px;
  font-size: 2em;
  color: var(--couleur);
  margin-bottom: 10.5px;
  width: max-content;

}

/*-----Barre de navigation-----*/

.nav {

  top: 15px;
  left: 15px;
  position: fixed;
  transform: translateY(0);
  height: calc(100vh - 27.5px);
  width: 65px;
  background-color: var(--default);
  transition: background-color 0s, width 1.1s;
  overflow-x: hidden;
  border-radius: 15px;
  z-index: 2000;
  backdrop-filter: blur(10px);

}

.nav.active {

  width: 240px;

}

/*-----Ligne-----*/

.ligne {

  width: 100%;
  background-color: var(--default2);
  position: absolute;
  left: 50%;
  top: 60px;
  transform: translate(-50%, -50%);
  height: 1px;

}

/*-----Menu burger-----*/

.btn {

  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  cursor: pointer;

}

.btn::before {

  content: "";
  position: absolute;
  left: 32.5px;
  top: 35%;
  transform: translate(-50%, -50%);
  width: 35px;
  height: 2px;
  background-color: var(--default2);
  transition: 0.7s;

}

.btn::after {

  content: "";
  position: absolute;
  left: 32.5px;
  top: 65%;
  transform: translate(-50%, -50%);
  width: 35px;
  height: 2px;
  background-color: var(--default2);
  box-shadow: 0 -9px 0 var(--default2);
  transition: 0.7s;

}

.nav.active .btn::before {

  transform:  rotate(45deg);
  left: 10.5px;
  top: 50%;

}

.nav.active .btn::after {

  transform:  rotate(-45deg);
  box-shadow: none;
  left: 10.5px;
  top: 50%;

}

/*-----Contenaires des boutons-----*/

.list {

  display: flex;
  gap: 30px;
  position: relative;
  top: 131px;
  margin-bottom: 36px;
  left: 9px;
  list-style: none;
  width: 47px;
  padding: 7px;
  cursor: pointer;
  border-radius: 10px;
  transition: 1.1s;

}

.list:last-child {

  margin-bottom: 150px;

}

.nav.active .list {

  width: 220px;

}

.list:hover {

  background-color: var(--couleur);

}

.list.active {

  background-color: var(--couleur);

}

/*-----Images-----*/

.img {

  width: 33px;
  height: 33px;

}

/*-----Textes-----*/

.txt {

  position: relative;
  top: 7px;
  font-size: 1.1em;

}

/*---------------------------
--------Page accueil---------
---------------------------*/

/*---------------------------
-------Page recherche--------
---------------------------*/

/*-----Input-----*/

.containerRecherche {

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 10px;
  height: 200px;

}

.recherche {

  width: 500px;
  height: 35px;
  outline: none;
  border-radius: 7px;
  font-size: 1.1em;
  padding: 15px;
  top: 0px;
  position: relative;
  border: 1px var(--couleur) solid;
  background-color: var(--default);
  color: var(--default2);
  backdrop-filter: blur(10px);
  z-index: 100;

}

/*-----Bloc des reponses-----*/

.category {

  background-color: var(--default);
  padding: 15px 15px 15px 22.5px;
  width: 750px;
  margin-top: 18px;
  position: relative;
  border-radius: 13px;
  border: 1px var(--couleur) solid;

}

/*-----Titres des blocs des reponses-----*/

.titreRecherche {

  font-size: 1.5em;
  font-weight: 300;
  background-color: var(--couleur);
  padding: 5px 10px 5px 10px;
  width: max-content;
  border-radius: 7px;
  color: white;

}

/*-----Liens des blocs des reponses-----*/

.lienRecherche {

  font-size: 1.1em;
  color: var(--default2);
  width: max-content;
  padding: 5px 5px 5px 4px;
  text-decoration: none;
  position: relative;
  left: 497px;
  bottom: 10px;
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;

}

.lienRecherche::before, .lienRecherche::after {
  
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--couleur);
  transition: width 0.7s ease-in-out;

}

.lienRecherche::after {

  left: 3px;

}

.lienRecherche::before {

  right: 3px;

}

.lienRecherche:hover::before, .lienRecherche:hover::after {

  width: 60%;

}

/*-----Pas de resultat-----*/

.no-results {

  font-size: 1em;
  color: red;
  margin-top: 60px;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  width: max-content;

}

/*-----Avant de chercher-----*/

.txtRecherche {

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -0%);

}

.imgRecherche {

  background-image: url(recherche.png);
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: cover;
  
} 

/*---------------------------
-------Page parametres-------
---------------------------*/

/*-----Bouton paramètre-----*/

.btnParametres {

  width: max-content;
  padding: 4px;
  position: relative;
  top: 10px;
  margin-bottom: 25px;
  cursor: pointer;
  background-color: var(--default);
  border-radius: 5px;
  border: 1px var(--couleur) solid;

}

.colorPicker {

  cursor: grab;
  width: 40px;
  height: 20px;

}

.curseur {

  position: fixed;
  width: 25px;
  height: 25px;
  pointer-events: none;
  background-image: url(/Site/Image/curseur.png);
  background-size: cover;
  background-position: center;
  z-index: 20000;
  display: none;
  
}

.curseur.active {

  background-image: url(/Site/Image/pointer.png);

}

.popup {

  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  z-index: 2000;
  width: max-content;
  padding: 30px;
  border-radius: 20px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-42.5%, -50%);
  font-size: 1.4em;
  visibility: hidden;
  opacity: 0;
  transition: 1s;

}

.sectionBtn {

  display: flex;
  gap: 100px;
  position: absolute;
  left: 50%;
  top: 130%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: max-content;
  justify-content: center;

}

.btnPopup {

  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 2000;
  border-radius: 20px;
  width: max-content;
  padding: 7px 17px;
  border: 1px solid var(--couleur);
  transition: letter-spacing 1.2s;
  font-size: 0.8em;
  cursor: pointer;

}

.btnPopup:hover {
  
  letter-spacing: 7px;

}

/*-----Raccourcis----*/

.imgShortcut {

  width: 140px;
  height: 140px;
  display: block; 
  margin: 0 auto;
  position: relative;
  top: 60px;
  transition: 1.8s

}

.boxShortcut {

  display: flex;
  justify-content: center;
  text-align: center;
  gap: 100px;
  position: relative;
  margin-top: 25px;

}

.shortcut {

  background-color: var(--default);
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  border-radius: 15px;
  border: 1px var(--couleur) solid;
  width: 330px;
  height: 310px;
  overflow: hidden;
  
}

.shortcut:hover .imgShortcut {

  top: 0px;
  width: 67px;
  height: 67px;

}

.shortcut:hover .paraShortcut {

  visibility: visible;
  opacity: 1;

}

.shortcut:hover .lienShortcut {

  visibility: visible;
  opacity: 1;

}

.shortcut:hover .titreShortcut {

  top: 0px;

}

.lienShortcut:hover {

  color: red;

}

.lienShortcut {

  color: var(--couleur);
  font-size: 1em;
  letter-spacing: 0.5px;
  width: max-content;
  display: block; 
  margin: 0 auto;
  transition: 2.3s;
  visibility: hidden;
  opacity: 0;

}

.paraShortcut {

  visibility: hidden;
  opacity: 0;
  transition: 2.3s;
  padding: 0px 10px 0px 10px;

}

.titreShortcut {

  font-size: 1.8em;
  font-weight: 600;
  position: relative;
  top: 60px;
  transition: 1.8s;

}

.shortcutTitre {

  text-align: center;

}

/*-----Scroll bar pour webkit-----*/

::-webkit-scrollbar {

  width: 0.5vw;
  background-color: var(--bg);

}

::-webkit-scrollbar-thumb {

  background-color: var(--couleur);
  border-radius: 6vh;
  height: 16.5vh; 

}

::-webkit-scrollbar-thumb:hover {

  background-color: #555;

}


/*-----Vu pour tablette-----*/

@media screen and (max-width: 900px) {
  
  .btnMenu, .ecran, .curseurCustom, .MenuCustom, .fenetre, .shortcutTitre, .boxShortcut, .lienRecherche::after, .lienRecherche::before, .lienRecherche:hover::after, .lienRecherche:hover::before {

    display: none;

  }

  .btnPopup:hover {

    letter-spacing: normal;

  }

  .recherche {
  
    width: 300px;
  
  }
  
  .category {
  
    width: 450px;
    padding: 10px 10px 10px 10px;
    border-radius: 9px;
  
  }
  
  .titreRecherche {
  
    font-size: 1.2em;
    padding: 3px 8px 3px 8px;
  
  }
  
  .lienRecherche {
  
    font-size: 1em;
    left: 250px;
    margin-bottom: 10px;
  
  } 
}

@media screen and (max-width: 600px) {
  
  .recherche {
  
    width: 330px;
  
  }
  
  .category {
  
    width: 330px;
    padding: 10px 10px 0px 10px;
  
  }
  
  .titreRecherche {
  
    font-size: 1.1em;
    padding: 3px 8px 3px 8px;
  
  }
  
  .lienRecherche {
  
    font-size: 0.9em;
    left: 148px;
    margin-bottom: 10px;
    bottom: 12.5px;
  
  }

  .popup {

    padding: 20px;
    font-size: 1em;
    transform: translate(-39%, -50%);

  }

  .sectionBtn {

    top: 140%;

  }
}

/*-----Vu pour mobile-----*/

@media screen and (max-width: 435px) {

  .section1, .section2, .section3 {

    margin: 0px 15px 0px 15px;

  }

  .nav {

    top: unset;
    bottom: 0;
    height: 65px;
    width: 100%;
    backdrop-filter: blur(0px);
    display: flex;
    left: 0;
    justify-content: center;
    gap: 20%;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255, 0, 0, 0) 100%);
    border-radius: unset;

  }

  .nav.input {

    display: none;

  }

  .ligne {

    display: none
  
  }

  .btn {

    display: none;
  
  }

  .list {

    gap: 0px;
    top: 9px;
    margin-bottom: 0px;
    left: 0px;
    width: 47px;
    height: 47px;
    padding: 7px 7px 7px 7px;
    border-radius: 0px;
    background-color: transparent;

  }

  .list:last-child {

    margin-bottom: 0px;

  }

  .list:hover {

    background-color: transparent;
  
  }
  
  .list.active {
  
    background-color: transparent;
  
  }
  
  .img {

    transition: 0.2s;

  }

  .img:active {

    transform: scale(0.8);


  }

  .txt {

    display: none;

  }

  .containerRecherche {

    display: block;
    overflow: auto;
    margin-top: 0;
  
  }

  .recherche {
  
    position: initial;
    transition: 0.9s;
    width: 100%;
    transition: 0s;
    top: 0;
    
  }

  .category {
  
    width: 100%;
    top: 0px;
  
  }

  .txtRecherche {

    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;

  }

  .category:last-child {

    margin-bottom: 65px;

  }

  .titreRecherche {
  
    font-size: 1.2em;
  
  }
  
  .lienRecherche {
  
    font-size: 0.95em;
    left: 47.7%;
    bottom: 13px;
    margin-bottom: 10px;
  
  }

  .no-results {

    font-size: 1em;
    margin-top: 25px;
  
  }

  body.black .nav {

    background: linear-gradient(0deg, rgba(36,34,49,1) 0%, rgba(36,34,49,0.1) 100%);
  
  }

  .popup {

    transform: translate(-50%, -50%);
    padding: 15px;
    font-size: 4vw;
    background-color: rgb(199 199 199 / 36%);

  }

  .sectionBtn {

    top: 150%;
    gap: 80px;

  }

  .btnPopup {

    background-color: rgb(199 199 199 / 36%);

  }
}

@media screen and (max-width: 350px) {

  .titreRecherche {
  
    font-size: 5.2vw;
  
  }

  .lienRecherche {
  
    font-size: 4.2vw;
    left: 46%;

  }

  .no-results {

    font-size: 4.3vw;
  
  }
}